/* Color palatte from https://colorhunt.co/palette/fbf8f1f7ecdee9dac154bab9 */

:root {
  --primary-bg-color: #fafafa;
  --secondary-bg-color: #ffffff;
  --primary-accent-color: #54bab9;
  --gray: #dddddd;
}
