:root {
  --xlg: 48px;
  --lg: 24px;
  --md: 12px;
  --sm: 8px;
  --xsm: 4px;
  --xxsm: 2px;
  --header-height: 60px;
  --radius: 12px;
}

div {
  --container-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
