@import url("./_variable.css");
@import url("./_colors.css");

.auth-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
}

.auth {
  width: 450px;
  padding: var(--lg);
}

.auth-title {
  color: var(--gray);
  margin-bottom: var(--lg);
}

.auth-section {
  display: flex;
  margin: var(--lg) 0;
}

.auth-section.redirect {
  color: var(--gray);
  justify-content: space-between;
}

.auth-redirect-selections {
  cursor: pointer;
}

.auth-redirect-selections.hover-underline-animation:after {
  background-color: var(--primary-accent-color);
}
