.control-wrapper {
  width: 350px;
  height: 100%;
}

.control {
  width: 100%;
  height: auto;
  padding: var(--lg);
  background-color: var(--secondary-bg-color);
  border-radius: var(--radius);
  border: 1px solid var(--gray);
}

.control-guide {
  margin-bottom: var(--md);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.control-create-wrapper {
  position: relative;
}

.control-guide .create {
  cursor: pointer;
  color: var(--primary-accent-color);
}

.control-guide .create.hover-underline-animation:after {
  background-color: var(--primary-accent-color);
}

.control-labels {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--md);
}

.control-create-menu {
  width: auto;
  height: auto;
  position: absolute;
  background-color: var(--secondary-bg-color);
  padding: var(--md);
  border-radius: var(--radius);
  border: 1px solid var(--gray);
  top: 100%;
  left: 0%;
}

.control-color-selection {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 var(--sm) var(--sm) 0;
}

.control-color-selection.custom-color {
  cursor: pointer;
  border: 2px solid var(--primary-accent-color);
}

.color-picker-wrapper {
  position: relative;
}

.control-create-menu-input {
  background-color: transparent;
  border: 0;
  padding: var(--sm) 0;
  font-size: 1em;
  border-bottom: 2px solid var(--gray);
}

.control-create-menu-input::placeholder {
  color: var(--gray);
}

.control-create-menu-input:focus {
  outline: 0;
  border-color: var(--primary-accent-color);
}

.control-create-menu-section {
  margin-bottom: var(--md);
}

.control-create-menu-section.color-section {
  display: flex;
  flex-wrap: wrap;
}

.color-picker {
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: 999;
}
