.create-task-wrapper {
  position: absolute;
  bottom: var(--lg);
  left: var(--lg);
}

.create-task {
  cursor: pointer;
  position: relative;
  top: 0;
  background-color: var(--primary-accent-color);
  color: #ffffff;
  padding: var(--xsm);
  border-radius: 50%;
  box-shadow: var(--container-box-shadow);
  display: grid;
  place-items: center;
  transition: top 250ms ease;
}

.create-task:hover {
  top: -4px;
}

.create-task-menu {
  position: absolute;
  bottom: 100%;
  left: 100%;
  /* margin: 0 0 var(--lg) var(--lg); */
  width: 350px;
  height: auto;
  color: var(--gray);
  padding: var(--md);
  background-color: var(--primary-bg-color);
  border-radius: var(--radius);
  box-shadow: var(--container-box-shadow);
}

.create-task-title-input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  background-color: transparent;
  font-size: 1.35em;
  padding: var(--sm) 0;
  margin-bottom: var(--lg);
}

.create-task-title-input:focus {
  outline: 0;
  border-color: var(--primary-accent-color);
}

.create-task-title-input::placeholder {
  color: var(--gray);
}

.create-task-section {
  width: 100%;
  margin-bottom: var(--md);
}

.create-task-section .MuiFormControl-root {
  width: 100%;
}

.create-task-section label.Mui-focused {
  color: var(--primary-accent-color);
}

.create-task-section .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--primary-accent-color);
}

.create-task-section label[for="notes"] {
  cursor: pointer;
  text-decoration: underline;
}

.create-menu-close {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: absolute;
  top: var(--sm);
  right: var(--sm);
}

.create-task-notes {
  width: 100%;
  min-height: 150px;
  resize: none;
  /* padding: var(--sm); */
  font-size: 1em;
  border-radius: var(--radius);
  background-color: transparent;
  border: 0;
}

.create-task-notes:focus {
  outline: 0;
}
