@import url("./_colors.css");
@import url("./_variable.css");

.header-wrapper {
  display: flex;
  width: 100%;
  padding: 0 var(--lg);
  height: var(--header-height);
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--gray);
}

.header-title,
.header-welcome,
.header-selections {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-selections {
  justify-content: flex-end;
}

.header-selection {
  cursor: pointer;
  margin-left: var(--md);
}

.header-welcome {
  justify-content: center;
}

.header-title h1,
.header-welcome span {
  font-size: 1.25em;
  font-weight: 800;
}

.header-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--gray);
}
