.label {
  user-select: none;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  color: var(--gray);
  padding: var(--xxsm) var(--md);
  border-radius: var(--md);
  border: 1px solid var(--gray);
  margin: 0 var(--sm) var(--sm) 0;
}
